body {
    background-color: lightgreen;
}

p {
    font-size: 2rem;
    font-weight: bold;
    color: green;
    border: 2px solid darkgrey
}

ul li {
    text-transform: uppercase;
    background-color: lightblue;
}

.kwadrat p {
    width: 300px;
    height: 300px;
    border: 2px dashed violet;
}